:root {
  --bg-purple: #290742;
  --light-purple: #9E6DC2;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.resume-content {
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: var(--bg-purple);
}

.right-section {
  grid-column: span 5;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 0px 60px 0px 0px;
}

.left-section-content {
  padding: 2rem 2rem;
}

.profile {
  width: 100%;
  border-bottom: 2px solid var(--green);
}

.profile .profile-img {
  width: 100%;
  border-radius: 100%;
}

.name {
  color: var(--light-purple);
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.profession {
  color: var(--light-purple);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.left-title {
  color: var(--light-purple);
  font-size: 20px;
}

.contact-info ul {
  padding-top: 1.5rem;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.contact-info ul li ,
.references ul li {
    padding: .4rem 0;
    color: var(--light-purple);
}

.contact-info ul li i,
.references ul li i {
    padding-right: 1rem;
    font-size: 18px;
    color: #eeeeee;
}

.skills ul {
  padding-top: 1.5rem;
}

.skills ul li {
  padding: .4rem 0;
  color: var(--light-purple);
}

.right-section-content {
  padding: 2rem 2rem;
}

.right-title {
  color: var(--light-purple);
}

.gap {
  padding-bottom: 2rem;
}

.about-me-content {
  font-size: 18px;
  color: var(--bg-purple);
}

.experience-content, .education-content, .awards-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
  color: var(--bg-purple);
}

.exp-company-name, .education-school-name, .awards-company-name {
  font-size: 25px;
  font-weight: bold;
}

.exp-time-period, .educationp-time-period, .awards-time-period {
  font-size: 18px;
}

.exp-position, .education-subject, .awards-name {
  font-size: 25px;
}

.exp-desc, .education-subject, .awards-name {
  font-size: 25px;
}

.exp-desc, .education-desc, .awards-desc {
  font-size: 16px;
  padding-left: 5px;
}
